@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

.fixed-header {
  position: fixed;
  margin-top: 23px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 10rem;
  height: 2.8rem;
}

.header--line {
  width: 80vw;
  border: 2px solid #fe6582;
  border-radius: 2px;
}

.header--pill {
  background: #0e1513;
  width: 18rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 2rem;
  margin-top: -1.4rem;
}

.buffer{
  height: 100vh;
  border: "2px solid red"
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaffcf;
  height: 100vh;
}

.section {
  box-sizing: border-box;
  font-family: "Rambla", sans-serif;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 3rem;
}

.half-donout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-circle {
  width: 60vw;
  height: 30vw;
  background-color: #fe6582;
  border-radius: 30vw 30vw 0 0;
}

.small-circle {
  width: 40vw;
  height: 20vw;
  background-color: #eaffcf;
  border-radius: 20vw 20vw 0 0;
  margin-top: -20vw;
}

.play-button {
  position: relative;
  z-index: 2;
  height: 3.6rem;
  margin-top: -4.6rem;
}


/* .section-content {
  font-size: 36px;
  font-family: "Rambla";
  letter-spacing: 0.145em;
  text-align: center;
  align-items: center;
} */

.section-footer {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.footer--line {
  width: 64vw;
  border: 2px solid #fe6582;
  border-radius: 2px;
}

.footer--text {
  font-size: 1rem;
  line-height: 99.02%;
  align-items: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #fe6582;
}


/* target phone */
@media (max-width: 600px) {
  .big-circle {
    width: 90vw;
    height: 45vw;
    border-radius: 45vw 45vw 0 0;
  }

  .small-circle {
    width: 66vw;
    height: 33vw;
    border-radius: 33vw 33vw 0 0;
    margin-top: -33vw;
  }

  .play-button {
    height: 2.6rem;
    margin-top: -2rem;
  }
  
  .footer--line{
    width: 30vw
  }
}