.halfborder {
    
    border-width: 200px;
    height: 510px;
    width: 478px;
    border-radius: 0px;
    border-color: black;
    background-color: #FEF3E1;

}
.upperpart{
    display: flex;
}

.circles {
    
    Width:7.95px;
    Height:7.95px;
    margin: 8px;
    border-radius: 100%;
    background-color: black;
}
.verticalpart{
    display: block;
    margin-left: 99%;
    margin-top: -30px;
}
.circles2 {
   
    Width:7.95px;
    Height:7.95px;
    margin-left: 50%;
    margin: 15px;
    border-radius: 100%;
    background-color: black;
}
.hr1{
    width: 500px;
    margin-left: 2px;
    border-top: 1px solid black;
}
.hr2{
    position: absolute;
    margin-top: 237px;
   margin-left: 263px;
    width: 480px;
    transform: rotate(90deg);
}
