@import url(//db.onlinewebfonts.com/c/c721718565d08a10f798834342514705?family=Lovely+Home);
.line {
    display: absolute;
    z-index: -1;
    position: fixed;
    background-image: linear-gradient(to right, #FEF3E1, #DC99FA);
    width: 1108px;
    height: 5px;
    left: 129px;
    top: 70px;


}

.logo {
    position: fixed;
    display: absolute;
    z-index: 0;
    width: 58px;
    height: 66px;
    margin-left: 0.6%;
    margin-top: 8px;
}

.logobg {
    position: fixed;
    display: absolute;
    width: 76px;
    height: 76px;
    margin-left: 39%;
    margin-top: 33px;
    background-color: #F8EAFF;
    border-radius: 100%;
    z-index: 0;
}

.Abhivyakti {
    width: 240px;
    height: 45px;
    margin-left: 47%;
    background-color: black;
    font-family: 'Lovely Home', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    color:#DC99FA;
    border-radius: 20px;
    margin-top: -20px;
    text-align: center;
    line-height: 44px;
}