@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.herobackground{
    background-color: #FCFFE7;
    height: 768px;
    position: fixed;
    /* z-index: 2; */
}

.herohead{
    word-spacing: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    
}
.basichead{
    padding-top:156px;
    font-family: Rambla;
font-size: 78px;
font-style: italic;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: left;
}

.basichead2{
  
    font-family: Rambla;
font-size: 78px;
font-style: italic;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: left;
}


.mainhead{
    padding: 50px 0;
font-family: Rambla;
font-size: 225px;
font-style: italic;
font-weight: 700;
line-height: 135px;
letter-spacing: 0em;
text-align: left;

}

.trophy{
    height:80px;
    width:80px;
    margin-bottom: -10px;
}
.cup{
    height:80px;
    width:80px;
}
.phone{
    height:77px;
    width:78px;
    margin-bottom: -10px;
}
.speaker{
    height:86px;
    width:86px;
    margin-bottom: -10px;
    margin-right:350px;
}
.rainbow{
    height:160px;
    width:160px;
}
.rainbow2{
    height:160px;
    width:160px;
    margin-left:450px;
}
.star{
    height:160px;
    width:160px;
}
.time{
    height:76px;
    width:76px;
    margin-bottom: -10px;
}

.circle{
    width:10px;
   border: #007074 25px dotted;
   border-radius: 25px;
   display: inline-block;
   margin-bottom: 60px;
    
}
.circle2{
    width:10px;
   border: #007074 15px dotted;
   border-radius: 15px;
   display: inline-block;
   margin-bottom: 15px;
    margin-left: 30px;
    margin-right:30px;
    
}

.herohead b{
    color:#007074;
    
}
.herohead h2{
    white-space: nowrap;
    animation:move-left 250s linear infinite;
}
.herohead h1{
    white-space: nowrap;
    animation:move-right 280s linear infinite;
}
@keyframes move-left{
    0% {
        transform:translateX(7%);
    }
    100% {
        transform:translateX(-100%);
    }
}
@keyframes move-right{
    0% {
        transform:translateX(-100%);
    }
    100% {
        transform:translateX(0%);
    }
}


 

