@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.hero{
  background-image: url('/layered-waves-haikei.svg');
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hero div{
  margin-bottom: 0 auto;
  margin: 0 auto;
}

.box1{
box-sizing: border-box;

position: absolute;
width: 358px;
height: 309px;
left: 178px;
top: 56px;

border: 1px solid #000000;
}