@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.musicBackground {
    height: 100vh;
    width: 100vw;
    background-color: #FEF3E1;

    z-index: -1;
}

.rightside {
    
    position: absolute;
    margin-top: 10%;
    margin-left: 160px;
    width: 75%;
    height: 324px;
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112.02%;
    color: #000000;
    text-align: center;
 
}


.leftside{
    margin-left: 58%;
   margin-top: -30%;
}